body {
    background-image: url('./assets/people.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.8); /* Añadir transparencia si lo deseas */
}
